/* PC */
@media (max-width: 1023px){

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .content{
        display: block;
        background: #fff;

    }
    .content-info, .content-product{
        margin: 40px 20px;
        padding: 50px 12px;
    }

    .order-item{
        justify-content: center;
    }

    .change-order2{
        padding-right: 20px;
    }

    .change-order1{
        padding-right: 5px;
    }

    .change-order3{
        padding-right: 17px;
    }

    .amount-product{
        justify-content: space-between;
    }

    .input-product{
        justify-content: flex-end;
        border: none;
    }
    
    .input-product input, .content-messeenger, .list-product1{
        display: none;
    }

    .input-product i{
        padding: 0;
        font-size: 30px;
    }

    .title-product{
        display: none !important;
    }

    .pagination-item__link{
        padding: 12px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        
    }

    .list-product2{
        display: inline;
    }

    .item2{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
        align-items: center;
    }

    .img-product2{
        display: flex;
    }

    .detail-product2{
        text-align:center;
    }

    .hinh_tron{
        margin-right: 20px;
    }

    .change-size{
        font-size: 30px;
    }

    .change-padding{
        padding-left: 15px;
        text-align: unset;
    }

}


/* Mobile */
@media (max-width: 739px){
    .content{
        display: block;
        background: #fff;
    }

    .content-info, .content-product{
        margin: 0 20px;
        padding: 50px 12px;
    }

    .input-product{
        justify-content: flex-end;
        border: none;
        width: auto;
        overflow:unset;
    }

    .search-product p{
        margin: 0;
    }
    
    .input-product input, .content-messeenger, .list-product1{
        display: none;
    }

    .list-product2{
        display: inline;
    }

    .title-product{
        display: none !important;
    }

    .img-product2{
        text-align: center;
        margin-top: 20px;
    }

    .img-product2 img{
        width: 80%;
        height: 80%;
        object-fit: cover;
        object-position: center;
    }

    .detail-product2{
        text-align: center;
    }

    .change-color-price{
        font-size: 18px;
    }
    .line-through{
        display: inherit;
        font-size: 18px;
    }

    .pagination{
        justify-content:center;
    }

    .number-product{
        padding: 0;
        width: unset;
    }

    .span-product {
        margin: 0;
        text-align:center;
    }


}